@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: 'figtree', sans-serif;
    }

}

@layer components{
    .custom-input{
        @apply block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
        placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm bg-white outline-none;
    }

    .button-gray{
        @apply px-4 py-[5px] rounded-md bg-gray-200  hover:bg-gray-300 text-center;  
        transition: ease 300ms;
    }
    .button-dark{
        @apply px-4 py-2 rounded-md bg-gray-800 text-white font-medium text-center hover:bg-gray-700;
        transition: ease 300ms;
    }

    .button-green{
        @apply px-4 py-2 rounded-md bg-green-500 text-white font-medium text-center hover:bg-green-600;
        transition: ease 300ms;
    }

    .navlink{
        @apply block px-4 py-2 border-transparent text-center text-base font-medium
        text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:text-gray-800
        focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out cursor-pointer;
    }

    .error{
        @apply text-sm text-red-500;
    }

}